/* **The first element**: a black background and white text
* **The second element**: a yellow background
* **Both elements**: a font size of 28px and a list of fonts containing `Helvetica` and `Times New Roman`, with `sans-serif` as a fallback */

.yes {
    color: white;
    background-color: black;
}

.no {
    background-color: #ffff00;
}

.no, .yes {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', serif;
}